@model TabStripDemo.Models.CandidateDetails

@{
    ViewData["Title"] = "Index";
}
<div class="text-right">
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div id="Menu1">
                    <ul class="nav navbar-nav">
                        <li><a class="selected" href="#">Home</a></li>
                        <li>
                            <a class="popout" href="#">Services</a><ul class="level2 dropdown-menu">
                                <li><a class="" href="#">Consulting</a></li>
                                <li><a class="" href="#">Outsourcing</a></li>
                            </ul>
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
</div>
@if(Model.RoleID!=1)
{
    <div class="Button_center">
    <div class="col-md-4 ">
       @* <form asp-action="Create" asp-controller="CandidateParticipation" asp-route-id="@Model.user.UserId" method="get">            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>*@
        <br />
        <a asp-action="Create" class="btn btn-success"  asp-controller="CandidateParticipation" asp-route-id="@Model.UserId">Create Payment Request</a> 
        <br /><br />
    </div>
</div>  
}
<div class="container">
     <div id="navigationMenu" class="container">  	
						<br>  						 
						@{
							Html.RenderPartial("_AdminNavigationBar");
						}
	</div>
</div>
@*<div class="text-right">
     <form asp-action="Logout" asp-controller="Authentication" method="get">            
            <div class="form-group">
                <br />
                <input type="submit" value="Logout" class="btn btn-warning" />
            </div>
        </form>       
</div>*@
@if (Model.candidateTransactions.Count() == 0)
{
    if (Model.RoleID != 1)
    {
        <h6 style="color:indigo;">You have not submitted any payment request</h6>
    }
    else
    {
         <h6 style="color:indigo;">No any payment request has been submitted yet</h6>
    }

}
else
{
    <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
               Reciepant Bank
            </th>
            <th>
                Transaction Type
            </th>
            <th>
                UTR Number
            </th>
            <th>
               Transaction Amount
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.TransactionRecieptPath)
            </th>*@
            <th>
               Approval Status
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.candidateTransactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReciepientBank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            @*<td>                   
                @Html.DisplayFor(modelItem => item.TransactionRecieptPath)
            </td>*@
            <td>
                @if (item.ApprovalStatus == 0)
                    {
                        @*<button type="submit" id="approve_button" class="btn btn-danger">Pending
                    </button>*@
                    <p class="button1">Pending</p>
                    }
                    else{
                        <button type="submit" id="approve_button" class="btn btn-success">Approved
                      </button>
                    }
               @* @Html.DisplayFor(modelItem => item.ApprovalStatus)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.MailId)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.Urn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Urn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Urn">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
}

<style>

    .Button_center{
        display:flex;
        justify-content:center;
    }

  .button1 {
  background-color: tomato; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
</style>

