@model Member  

<div class="Button_center">	
    <h4 style="color:indigo;">Welcome!</h4>
</div>

@*<h4 style="text-align:left;color:tomato;">@TempData["ErrorMessage"]</h4>*@
<div class="container">  
  
<ul class="nav nav-tabs">  
@{ 
  
<li class="nav-item">  
<a class="nav-link active" data-toggle="tab" href="#login">Login</a>  
</li>  
 
<li class="nav-item">  
<a class="nav-link" data-toggle="tab" href="#register">Register</a>  
</li>  

}    
</ul>  
<div class="tab-content">  

					<div id="login" class="container tab-pane active">  	
						<br>  						 
						@{
							@*<h6 style="color: red;">@ViewBag.Message</h6>*@
							await Html.RenderPartialAsync("_LoginPartial",Model.UserLogin);
						}
					</div>
					<div id="register" class="container tab-pane fade">  	
						<br>  						 
						@{
							await Html.RenderPartialAsync("_RegisterPartial",Model.RegisterUser);
						}
					</div>											
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
</div>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style>

    .Button_center{
        display:flex;
        justify-content:center;
    }
</style>

 @if (TempData["InvalidLoginCredentialsErrorMessage"] != null)  
    {  
        <script type="text/javascript">  
            window.onload = function () {  
                alert("@TempData["InvalidLoginCredentialsErrorMessage"]");  
            };  
        </script> 
	}

@if (TempData["InvalidCredentialsEntryErrorMessage"]!= null)  
    {  
        <script type="text/javascript">  
            window.onload = function () 
			{  
                alert("@TempData["InvalidCredentialsEntryErrorMessage"]");  
            };  
        </script> 
	}

@if (TempData["RegisterResponseMessage"]!= null)  
    {  
        <script type="text/javascript">  
            window.onload = function () 
			{  
                alert("@TempData["RegisterResponseMessage"]");  
            };  
        </script> 
	}

	